.LayoutTop{
	display: flex;
	align-items: center;
	background-color: darkgrey;
	align-items: center;
}
.LayoutTop div:first-child{
	font-size: 200%;
	color: white;
	margin-left: 1em;
	flex: 1;
}


div.menuItem{
	background-color: rgba(255,255,255,0.5);
	text-shadow: 1px 1px 0 rgba(255, 254, 254, 0.842);
	padding: 8px;
	border-radius: 20%;
	margin: 4px;
	cursor: pointer;
	user-select: none;
}

div.ParamsEditView{
	display: flex;
}
div.ParamsEditView > div{
	margin: 1em;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction : column;
	padding: 1em;
	background-color: rgba(33, 111, 163, 0.7) !important;
	color: white;
	border-radius: 10px;

}
.ParamsEditView input{
	margin: 10px;
	background-color: rgba(240, 255, 255, 0.7)  !important;
	padding: 8px;
	border: 2px solid aquamarine;
	border-radius: 10px;
	color: black;
	width: 200px;

}

.ParamsEditView > DIV>DIV>DIV>DIV{
	position: absolute;
	margin: 10px;
	padding: 8px;
	white-space: nowrap;
	z-index: -1;

}

button.blueButton{
	margin: 0.5em;
    padding: 7px 20px;
	border-radius: 25px;
    text-decoration: none;
    color: #FFF;
	background-image: linear-gradient(45deg, rgb(7, 143, 255) 0%, #491bdf 100%);
    transition: .4s;
	border: none;
	border-bottom: solid 3px #3201d6;
}

button.blueButton:hover {
    background-image: linear-gradient(45deg, rgba(7, 143, 255, 0.842) 0%, #491bdfc5 100%);
	border-bottom: none;
}

div.InputArea{
	display: inline-flex;
	margin: 2em;
	padding:0.2em;
	border-radius: 10px;
	background-color: rgba(53, 121, 167, 0.7);
	min-width: 300px;
}

div.Plugins{
	overflow: auto !important;
}
div.Plugins > div{
	display: inline-flex;
	flex-direction : row;
	margin: 1em;
	border-radius: 10px;
	background-color: rgba(33, 111, 163, 0.7);
	padding:0.2em;
	min-width: 300px;
}

div.Plugins > div > div:first-child > div{
	background-color: rgba(17, 87, 134, 0.7);
}
div.Plugins > div > div:nth-child(2){
	flex: 1;
}
div.Plugins > div > div:nth-child(2) > div{
	background-color: rgba(17, 87, 134, 0.4);
}
div.Plugins > div > div > div{
	color: white;
	padding: 0.3em;
	margin: 0.2em;
}

div.QiitaInfoView{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-direction : column;
}